Repository defindal/jx3-gke-gsm-dev, pull requests merged in 2022-03, with the labels that each got.

#1 chore: import repository https://github.com/defindal/xl-go-devops-training.git
  .jx/gitops/source-config.yaml
Labels: env/dev

#5 chore: promote xl-go-devops-training to version 0.0.1
  config-root/namespaces/jx-production/jx-verify/jx-verify-gc-jobs-dtilc-rb.yaml
  config-root/namespaces/jx-production/jx-verify/jx-verify-gc-jobs-mqjfs-job.yaml
  config-root/namespaces/jx-production/xl-go-devops-training/xl-go-devops-training-ingress.yaml
  config-root/namespaces/jx-production/xl-go-devops-training/xl-go-devops-training-svc.yaml
  config-root/namespaces/jx-production/xl-go-devops-training/xl-go-devops-training-xl-go-devops-training-deploy.yaml
  config-root/namespaces/jx-production/xl-go-devops-training/xl-go-devops-training-xl-go-devops-training-sa.yaml
  config-root/namespaces/jx-staging/jx-verify/jx-verify-gc-jobs-1rjpx-rb.yaml
  config-root/namespaces/jx-staging/jx-verify/jx-verify-gc-jobs-3zi6l-job.yaml
  docs/README.md
  docs/releases.yaml
  helmfiles/jx-production/helmfile.yaml
Labels: updatebot, env/production, do-not-merge/hold, size/L

#6 chore: promote xl-go-devops-training to version 0.0.2
  config-root/namespaces/jx-production/jx-verify/jx-verify-gc-jobs-dtilc-rb.yaml
  config-root/namespaces/jx-production/jx-verify/jx-verify-gc-jobs-e97ig-job.yaml
  config-root/namespaces/jx-production/jx-verify/jx-verify-gc-jobs-pfbrt-rb.yaml
  config-root/namespaces/jx-production/jx-verify/jx-verify-gc-jobs-rh499-rb.yaml
  config-root/namespaces/jx-staging/jx-verify/jx-verify-gc-jobs-3we59-rb.yaml
  config-root/namespaces/jx-staging/jx-verify/jx-verify-gc-jobs-3zi6l-job.yaml
  config-root/namespaces/jx-staging/jx-verify/jx-verify-gc-jobs-fgtnh-job.yaml
  config-root/namespaces/jx-staging/jx-verify/jx-verify-gc-jobs-rygor-job.yaml
  config-root/namespaces/jx-staging/xl-go-devops-training/xl-go-devops-training-svc.yaml
  config-root/namespaces/jx-staging/xl-go-devops-training/xl-go-devops-training-xl-go-devops-training-deploy.yaml
  docs/README.md
  docs/releases.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: updatebot, env/staging, size/L

#8 chore: promote xl-go-devops-training to version 0.0.3
  config-root/cluster/resources/tekton-pipelines/tekton-pipeline/tekton-pipelines-webhook-cluster-access-clusterrole.yaml
  config-root/customresourcedefinitions/tekton-pipelines/tekton-pipeline/clustertasks.tekton.dev-crd.yaml
  config-root/customresourcedefinitions/tekton-pipelines/tekton-pipeline/conditions.tekton.dev-crd.yaml
  config-root/customresourcedefinitions/tekton-pipelines/tekton-pipeline/pipelineresources.tekton.dev-crd.yaml
  config-root/customresourcedefinitions/tekton-pipelines/tekton-pipeline/pipelineruns.tekton.dev-crd.yaml
  config-root/customresourcedefinitions/tekton-pipelines/tekton-pipeline/pipelines.tekton.dev-crd.yaml
  config-root/customresourcedefinitions/tekton-pipelines/tekton-pipeline/runs.tekton.dev-crd.yaml
  config-root/customresourcedefinitions/tekton-pipelines/tekton-pipeline/taskruns.tekton.dev-crd.yaml
  config-root/customresourcedefinitions/tekton-pipelines/tekton-pipeline/tasks.tekton.dev-crd.yaml
  config-root/namespaces/jx-production/jx-verify/jx-verify-gc-jobs-e97ig-job.yaml
  config-root/namespaces/jx-production/jx-verify/jx-verify-gc-jobs-efhnr-job.yaml
  config-root/namespaces/jx-production/jx-verify/jx-verify-gc-jobs-vczoa-rb.yaml
  config-root/namespaces/jx-staging/jx-verify/jx-verify-gc-jobs-3we59-rb.yaml
  config-root/namespaces/jx-staging/jx-verify/jx-verify-gc-jobs-duika-job.yaml
  config-root/namespaces/jx-staging/jx-verify/jx-verify-gc-jobs-vflw3-rb.yaml
  config-root/namespaces/jx-staging/jx-verify/jx-verify-gc-jobs-vk8h9-job.yaml
  config-root/namespaces/jx-staging/jx-verify/jx-verify-gc-jobs-yliyd-rb.yaml
  config-root/namespaces/jx-staging/xl-go-devops-training/xl-go-devops-training-svc.yaml
  config-root/namespaces/jx-staging/xl-go-devops-training/xl-go-devops-training-xl-go-devops-training-deploy.yaml
  config-root/namespaces/tekton-pipelines/tekton-pipeline/config-observability-cm.yaml
  config-root/namespaces/tekton-pipelines/tekton-pipeline/config.webhook.pipeline.tekton.dev-valwebhookcfg.yaml
  config-root/namespaces/tekton-pipelines/tekton-pipeline/pipelines-info-cm.yaml
  config-root/namespaces/tekton-pipelines/tekton-pipeline/tekton-pipelines-controller-deploy.yaml
  config-root/namespaces/tekton-pipelines/tekton-pipeline/tekton-pipelines-controller-svc.yaml
  config-root/namespaces/tekton-pipelines/tekton-pipeline/tekton-pipelines-webhook-deploy.yaml
  config-root/namespaces/tekton-pipelines/tekton-pipeline/tekton-pipelines-webhook-horizontalpodautoscaler.yaml
  config-root/namespaces/tekton-pipelines/tekton-pipeline/tekton-pipelines-webhook-role.yaml
  config-root/namespaces/tekton-pipelines/tekton-pipeline/tekton-pipelines-webhook-svc.yaml
  config-root/namespaces/tekton-pipelines/tekton-pipeline/validation.webhook.pipeline.tekton.dev-valwebhookcfg.yaml
  config-root/namespaces/tekton-pipelines/tekton-pipeline/webhook-certs-secret.yaml
  config-root/namespaces/tekton-pipelines/tekton-pipeline/webhook.pipeline.tekton.dev-mutwebhookcfg.yaml
  docs/README.md
  docs/releases.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: updatebot, env/staging, size/L

#10 chore: promote xl-go-devops-training to version 0.0.4
  config-root/namespaces/jx-production/jx-verify/jx-verify-gc-jobs-63mvs-rb.yaml
  config-root/namespaces/jx-production/jx-verify/jx-verify-gc-jobs-6ekon-job.yaml
  config-root/namespaces/jx-production/jx-verify/jx-verify-gc-jobs-efhnr-job.yaml
  config-root/namespaces/jx-production/jx-verify/jx-verify-gc-jobs-g2cep-rb.yaml
  config-root/namespaces/jx-production/jx-verify/jx-verify-gc-jobs-vczoa-rb.yaml
  config-root/namespaces/jx-staging/jx-verify/jx-verify-gc-jobs-8wyjc-rb.yaml
  config-root/namespaces/jx-staging/jx-verify/jx-verify-gc-jobs-ax23l-job.yaml
  config-root/namespaces/jx-staging/jx-verify/jx-verify-gc-jobs-rwnk2-job.yaml
  config-root/namespaces/jx-staging/xl-go-devops-training/xl-go-devops-training-svc.yaml
  config-root/namespaces/jx-staging/xl-go-devops-training/xl-go-devops-training-xl-go-devops-training-deploy.yaml
  docs/README.md
  docs/releases.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: updatebot, env/staging, size/L
